@import "push-pull.scss";

$body-bg-color: #222024;
$gold: #F7931D;
$silver: #ffffff;
$plat: #ffffff;

$logo-bg: #f1f1f2;

body, table.body, h1, h2, h3, h4, h5, h6, p, td {
  font-family: "Tahoma";
}

body, table.body {
  background-color: $body-bg-color;
}

.gold {
  color: $gold;
}

.silver {
  color: $silver;
}

.plat {
  color: $plat;
}

.row-logo {
  background-color: $logo-bg;
}

$market-stats-bg: #2b3246;
$market-stats-fg: #939597;
$market-loss: #F05A28;
$market-gain: #D6DF23;
$market-disclaimer: #BBBDC0;
.market-wrap-header {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
}

.market-stats {
  background-color: $market-stats-bg;
  color: $market-stats-fg;
}

.market-title {

}

$dark-bg: #373539;
$dark-fg: #b7b7b7;
$dark-secondary: #515050;
.section.section-dark {
  background-color: $dark-bg;
  color: $dark-fg;
}

.commentary-title {
  color: #ffffff;
  line-height: 43px;

  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: lighter;
  font-size: 16px;
}

.commentary-cell {
  background: #ffffff;
}

.commentary-text {
  color: #939597;
}

.social-header {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: lighter;
}

.social-table {
  max-width: 280px;
  margin: auto;
}

.disclaimer-row {
 background: #000000;
}

.disclaimer-text {
  color: #ffffff;
}
